* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

button {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  font-size: 24px;
  border: none;
  color: #9d9d9d;
}

button:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5),
    inset 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

p {
  height: 10px;
}

.container {
  height: max(90%, 800px);
  width: max(30%, 450px);
  padding: 10px;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.upperPart {
  flex: 1;
  height: min(20%, 150px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  background-color: #ececec;
  border-radius: 20px;
  padding: 12px;
  gap: 20px;
}

.lowerPart {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.line {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.invisible {
  visibility: hidden;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.textDiv {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.margin-top-20 {
  margin-top: 20px;
}

.resultContainer {
  font-size: 48px;
  height: fit-content;
  width: fit-content;
}

.calculationContainer {
  font-size: 28px;
  height: fit-content;
  width: fit-content;
}

.large-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 170px;
  width: 75px;
  border-radius: 40px;
  align-items: center;
  padding: 25px;
  font-size: 24px;
  color: white;
  background-color: rgb(255, 129, 150);
}
